:root {
  --font-w-light: 300;
  --font-w-regular: 400;
  --font-w-bold: 700;
  --fs-500: 1.375rem;
  --fs-600: 2rem;
  --fs-800: 2.9375rem;
  scroll-behavior: smooth;
}
@media (min-width: 100em) {
  :root {
    --fs-500: 1.875rem;
    --fs-600: 2.3125rem;
    --fs-800: 3.625rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

[hidden] {
  display: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html,
body {
  position: relative;
  display: grid;
  overflow: none;
  place-content: center;
  background-color: var(--clr-main-black);
  color: var(--clr-main-white);
  user-select: none;
}

img {
  user-select: none;
}

use {
  pointer-events: none;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--clr-main-white);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-main-black);
}

@keyframes grow {
  from {
    transform: scale(1, 2);
  }
  to {
    transform: scale(11, 11);
  }
}
@keyframes run {
  0% {
    transform: scaleX(1) translateX(0);
  }
  50% {
    transform: scaleX(1) translateX(50vw);
  }
  75% {
    transform: scaleX(-1) translateX(100vw);
  }
  100% {
    transform: scaleX(1) translateX(0);
  }
}
@keyframes hector {
  0% {
    transform: scaleX(1) translateY(0);
  }
  100% {
    transform: scaleX(1) translateY(100%) translateX(100%);
  }
}
.theme__main {
  --clr-name-main: ;
  --clr-main-white: #f3f3f3;
  --clr-main-black: #030303;
}

.header {
  position: fixed;
  top: 0;
  font-size: 1.25rem;
  width: 100%;
  z-index: 10;
}
.header__sound {
  accent-color: #333;
}

.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  position: relative;
}
.main__h1 {
  font-size: 7rem;
  opacity: 0.06;
  transform: scaleY(2);
  cursor: pointer;
}
.main__h1-anim {
  animation: grow 30s forwards;
}
.main__burger {
  cursor: pointer;
}
.main__eglantine-run {
  cursor: pointer;
  animation: run infinite 6000ms;
}
.main__hector {
  position: absolute;
  cursor: pointer;
  animation: hector 15000ms forwards;
}
.main__alert {
  transform: scale(0.2);
  position: absolute;
}/*# sourceMappingURL=main.css.map */