.backroom {
    &__eglantine {
        position: absolute;
        left: 10%;
        bottom: 5%;
        width: 15vw;
    }

    &__sign {
        position: absolute;
        left: 5%;
        top: 30%;
        width: 14vw;
    }

    &__teleporter{
        position: absolute;
        width: 11vw;
        height: 29vh;
        left: 42%;
        top: 30%;
    }   
}