@use "../abstracts/" as *;

.burgerclicker {
    background: url(../../assets/backgrounds/burgerclick.webp) no-repeat;
    background-position: center;
    background-size: contain;
    width: 80vw;
    height: 60vh;
    @include flex(center, center, row);

    &__text {
        font-size: 4rem;
        position: absolute;
        z-index: 10;
        bottom: 10%;
    }

    &__burger {
        cursor: pointer;
        width: 40vw;
        max-width: 30rem;
        transform: scale(1);
        transition: transform 300ms;

        &:active {
            transform: scale(.9);
        }
    }

    &__logo {
        position: absolute;
        width: 16vw;
        top: 0;
        right: 6%;
    }
}

@include mq(medium){
    .burgerclicker {
        &__text {
            font-size: 6rem;
            bottom: 8rem;
        }
    }
}