@use "../abstracts/" as *;

.burgerclicker {
    background: url(../../assets/backgrounds/burgerclick.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 60rem;
    @include flex(center, center, row);

    &__text {
        font-size: 6rem;
        position: absolute;
        bottom: 6rem;
    }

    &__burger {
        cursor: pointer;
        width: 30rem;
        transform: scale(1);
        transition: transform 300ms;

        &:active {
            transform: scale(.9);
        }
    }

    &__logo {
        position: absolute;
        width: 16rem;
        top: 0;
        right: 4rem;
    }
}
