.header {
    position: fixed;
    top: 0;
    font-size: 1.25rem;
    width: calc(100vw - .5rem);
    padding: .5rem;
    z-index: 10;
    &__sound {
        accent-color: rgb(32, 32, 32);
    }

    &__reset {
        opacity: 0;
        font-size: 0.8rem;
        transition: opacity 300ms;
    }

    &__achievements {
        position: absolute;
        right: 0;
        background: transparent;
        cursor: pointer;
        color: var(--clr-main-white);
    }

    &:hover {
        & .header__reset {
            opacity: 1;
        }
    }
}
