.hospital {
    &__door {
        width: 22vw;
        height: 25vh;
        bottom: 8%;
        left: 40%;

        &2 {
            width: 8vw;
            height: 14vh;
            bottom: 43%;
            left: 42%;
        }

        &3 {
            width: 10vw;
            height: 28vh;
            right: 25%;
            top: 40%;
        }
    }

    &__return {
        bottom: 0;
        width: 100%;
        height: 20vh;
    }

    &__nimbuffle {
        bottom: 30%;
        left: 28%;
        width: 14vw;
    }

    &__lock {
        width: 14vw;
        right: 45%;
        top: 40%;
        opacity: 0.3;
    }

    &__doctor {
        bottom: 30%;
        transform: rotate(7deg);
        right: 25%;
        width: 12vw;
    }

    &__mechant {
        left: 13%;
        bottom: 0;
        width: 22vw;
        transform: scaleX(-1);
    }

    &__secretdoor {
        width: 14vw;
        bottom: 36.4%;
        left: 40%;
    }

    &__link {
        position: absolute;
        width: 13vw;
        height: 25vw;
        left: 47%;
        top: 24%;
    }

    &__placeholder {
        left: 40%;
        bottom: 30%;
    }

    &__mario {
        bottom: 1%;
        right: 21%;
        width: 13vw;
    }
}
