.hospital {
    &__door {
        width: 24rem;
        height: 12rem;
        bottom: 8%;
        left: 40%;
        
        &2 {
            width: 8rem;
            height: 8rem;
            bottom: 43%;
            left: 42%;
        }

        &3 {
            width: 12rem;
            height: 12rem;
            right: 25%;
            top: 40%;
        }
    }

    &__return {
        bottom: 0;
        width: 100%;
        height: 6rem;
    }

    &__nimbuffle {
        bottom: 30%;
        left: 28%;
        width: 10rem;
    }

    &__lock {
        width: 6rem;
        right: 45%;
        top: 40%;
        opacity: .3;
    }

    &__doctor {
        bottom: 30%;
        transform: rotate(7deg);
        right: 25%;
        width: 22rem;
    }

    &__mechant {
        left: 13%;
        bottom: 0;
        width: 18rem;
        transform: scaleX(-1);
    }

    &__secretdoor {
        width: 12rem;
        bottom: 36.4%;
        left: 40%;
    }


    &__placeholder {
        left: 40%;
        bottom: 30%;
    }
}
