.kitchen {
    &__door {
        right: 12%;
        top: 29%;
        width: 10vw;
        height: 30vh;
    }

    &__recipe {
        width: 16vw;
        left: 50%;
        top: 30%;
        animation: float infinite 1s;
    }
}