.mageforest {
    &__teleporter {
        width: 12rem;
        height: 14rem;
        left: 38%;
        top: 36%;
    }

    &__eglantine {
        left: 15%;
        bottom: 25%;
        width: 15rem;
    }

    &__poster {
        right: 30%;
        top: 20%;
        width: 10rem;
    }

    &__return {
        height: 100%;
        left: 0;
        width: 12rem;
    }
}
