.magelake {
    &__return {
        right: 0;
        height: 100%;
    }

    &__frog {
        bottom: 5%;
        right: 10%;
        transform: scaleX(-1);
        width: 10vw;
    }

    &__bubbles {
        top: 48%;
        left: 60%;
        transform: skew(10deg);
        width: 10vw;
    }
}