@use "../abstracts/" as *;

.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    position: relative;

    &__playground {
        width: 100vw;
        height: 100vh;
        display: grid;
        place-content: center;
        max-width: 1064px;
        max-height: 720px;
        position: relative;
        overflow: hidden;
    }

    &__h1 {
        font-size: 7rem;
        opacity: 0.06;
        transform: scaleY(2);

        &-anim {
            animation: grow 30s forwards;
        }
    }

    &__eglantine {
        &-run {
            animation: run infinite 6000ms;
        }
    }

    &__hector {
        position: absolute;
        animation: hector 15000ms forwards;
    }

    &__alert {
        transform: scale(.2);
        position: absolute;
    }
}
