@use "../abstracts/" as *;

.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    position: relative;

    & > .achievement {
        position: absolute;
        width: 18rem;
        height: 5rem;
        bottom: 10%;
        left: 0;
        right: 0;
        margin: auto;
    }

    &__sandwiches {
        @include flex(flex-start, flex-start, row);
        gap: 0.5rem;
        transition: opacity 300ms;
        &-text {
            font-size: 2rem;
        }
        &-img {
            width: 4rem;
        }

        &:hover {
            opacity: 1
        }
    }

    &__menu {
        @include flex(space-between, center, row);
    }

    &__tools {
        @include flex(flex-start, center, row);
        gap: 1rem;
    }

    &__achievements {
        position: absolute;
        right: 0;
        width: 20rem;
        height: 100%;
        overflow: auto;
        @include flex(flex-start, flex-start, column);
        gap: .5rem;
        transform: translateX(20rem);
        transition: transform 300ms;
        background-color: #080808;
        padding-top: 4rem;
        &-open {
            transform: translateX(0);
        }
    }

    &__distributeur {
        width: 17rem;
    }

    &__playground {
        width: 100vw;
        height: 100vh;
        display: grid;
        place-content: center;
        max-width: 1064px;
        max-height: 720px;
        position: relative;
        overflow: hidden;
        isolation: isolate;
        transition: filter 300ms;
    }

    &__h1 {
        font-size: 7rem;
        opacity: 0.38;
        transform: scaleY(2);

        &-anim {
            animation: grow 30s forwards;
        }
    }

    &__psychedelic {
        width: 100vw;
        z-index: -1;
    }

    &__nimbuffle {
        animation: 10s infinite dance;
        transform-origin: bottom;
    }

    &__oiseau {
        animation: float 300ms infinite;
    }

    &__boss {
        position: absolute;
        inset: 0;
        margin: auto;
        z-index: 10;

        &-health {
            position: absolute;
            bottom: 3rem;
            width: 44rem;
            left: 0;
            right: 0;
            margin: auto;
            animation: float 4500ms infinite;
        }
    }

    &__eglantine {
        &-run {
            animation: run infinite 6000ms;
        }
    }

    &__hector {
        position: absolute;
        animation: hector 15000ms forwards;
    }

    &__alert {
        transform: scale(0.2);
        position: absolute;
    }
}
