@use "../abstracts/" as *;

.mermaidpuzzle {
    &__pillar {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 18vw;
        z-index: -1;
    }

    &__notes {
        @include flex(flex-start, flex-start, column);
        gap: 1rem;
        z-index: 11;
    }

    &__note {
        width: 2rem;
        height: 2rem;
        border-radius: 6rem;
        background-color: red;
        cursor: pointer;
    }

    [data-note="6"] {
        background: green;
    }

    [data-note="5"] {
        background: yellow;
    }
    
    [data-note="4"] {
        background: red;
    }
    
    [data-note="3"] {
        background: blue;
    }
    
    [data-note="2"] {
        background: purple;
    }

    [data-note="1"] {
        background: orange;

    }
}

@include mq(medium) {
    .mermaidpuzzle {
        &__pillar {

        }

        &__note {
            width: 4rem;
            height: 4rem;
        }
    }
}