@use "../abstracts/" as *;

.mobileprompt {
    position: absolute;
    inset: 0;
    margin: auto;

    &__install {
        display: none;
    }
}

@media screen and (orientation: portrait) {
    .mobileprompt {
        @include flex(center, center, column);
        gap: 1rem;
        height: 100vh;
        z-index: 100;
        background-color: var(--clr-main-black);
    }
}

@media screen and (orientation: landscape) {
    .mobileprompt {
        display: none;
    }
}
