.playground {
    &__content {
        width: 150%;
        height: 150%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transition: transform 100ms;

        &>* {
            position: absolute;
        }
    }
}