.poolroom {
    &__return {
        bottom: 0;
        height: 13rem;
        width: 100%;
    }
    &__teleporter {
        width: 10rem;
        height: 10rem;
        left: 46%;
        top: 40%;
    }
    &__teleporter2 {
        width: 9rem;
        height: 23rem;
        left: 22%;
        top: 32%;
    }
    &__eglantine {
        bottom: 18%;
        left: 23%;
        width: 10rem;
    }

    &__teleporter3 {
        bottom: 43%;
        left: 46%;
        width: 13rem;
        height: 15rem;
    }
    &__teleporter4 {
        bottom: 28%;
        right: 20%;
        width: 10rem;
        height: 32rem;
    }
    &__burger {
        position: absolute;
        left: 35%;
        bottom: 32%;
        width: 25rem;
    }
    &__clown {
        width: 10rem;
        left: 45%;
        top: 40%;
    }
    &__code{
        image-rendering: pixelated;
        width: 24rem;
        left: 38%;
        top: 12%;
    }
}
