.poolroom {
    &__return {
        bottom: 0;
        height: 30vh;
        width: 100%;
    }
    &__teleporter {
        width: 16vw;
        height: 29vh;
        left: 42%;
        top: 36%;
    }
    &__teleporter2 {
        width: 9vw;
        height: 47vh;
        left: 22%;
        top: 32%;
    }
    &__eglantine {
        bottom: 18%;
        left: 23%;
        width: 12svw;
    }

    &__teleporter3 {
        bottom: 43%;
        left: 46%;
        width: 13rem;
        height: 15rem;
    }
    &__teleporter4 {
        bottom: 28%;
        right: 20%;
        width: 10vw;
        height: 65vh;
    }
    &__burger {
        position: absolute;
        left: 35%;
        bottom: 32%;
        width: 32vw;
    }
    &__clown {
        width: 12vw;
        left: 45%;
        top: 40%;
    }
    &__code{
        image-rendering: pixelated;
        width: 35vw;
        left: 34%;
        top: 12%;
    }
}
