.restaurant {
    &__eglantine {
        right: 15%;
        bottom: 10%;
        width: 13vw;
    }

    &__burgers {
        left: 6%;
        bottom: 17%;
        width: 10vw;
    }

    &__door {
        right: 5%;
        top: 40%;
        width: 10vw;
        height: 28vh;
    }

    &__grandma{
        width: 12vw;
        height: 31vh;
        right: 0;
        bottom: 10%;
    }

    &__gustave {
        bottom: 4%;
        left: 30%;
        width: 8vw;
    }

    &__kitchen {
        transform: rotate(75deg);
        width: 12vw;
        left: 15%;
        top: 4%;
    }

    &__distributeur {
        height: 37vw;
        bottom: 6%;
        right: 39%;
        max-height: 32rem;
    }
}