.restaurant {
    &__eglantine {
        right: 15%;
        bottom: 10%;
        width: 10rem;
    }

    &__burgers {
        left: 0%;
        bottom: 13%;
        width: 10rem;
    }

    &__door {
        right: 5%;
        top: 40%;
        width: 10rem;
        height: 15rem;
    }

    &__grandma{
        width: 12rem;
        height: 18rem;
        right: 0;
        bottom: 10%;
    }

    &__gustave {
        bottom: 4%;
        left: 30%;
        width: 8rem;
    }

    &__kitchen {
        transform: rotate(75deg);
        width: 8rem;
        left: 15%;
        top: 10%;
    }
}