.robots {
    &__eglantine {
        bottom: 20%;
        left: 30%;
        width: 10rem;
    }

    &__teleporter {
        left: 25%;
        top: 25%;
        width: 10rem;
        height: 20rem;
    }
}