.robots {
    &__eglantine {
        bottom: 20%;
        left: 30%;
        width: 19vw;
    }

    &__teleporter {
        left: 19%;
        top: 25%;
        width: 22vw;
        height: 38vh;
    }
}