.traphouse {
    &__teleporter {
        width: 10vw;
        height: 27vw;
        right: 42%;
        bottom: 15%;
    }

    &__return {
        left: 0;
        width: 12vw;
        height: 100%;
    }
}
