.worldmap {
    &__restaurant {
        top: 13%;
        left: 12%;
    }

    &__backroom {
        top: 13%;
        left: 28%;
    }

    &__mageforest {
        top: 40%;
        left: 10%;
    }

    &__robots {
        left: 35%;
        top: 33%;
    }
}