.worldmap {
    &__restaurant {
        top: 13%;
        left: 12%;
    }

    &__backroom {
        top: 13%;
        left: 28%;
    }

    &__mageforest {
        top: 40%;
        left: 10%;
    }

    &__robots {
        left: 35%;
        top: 33%;
    }

    &__mermaidclose {
        top: 54%;
        left: 3%;
        width: 10rem;
    }

    &__hospitalentrance {
        top: 53%;
        left: 25%;
    }
}