.sandwich {
    width: 8rem;
    position: absolute;
    &__0 {
        top: 60%;
        left: 50%;
    }
    &__1 {
        right: 10%;
        bottom: 5%;
    }
    &__2 {
        left: 12%;
        bottom: 30%;
    }
    &__3{
        top: 30%;
        width: .8rem;
        right: 40%;
    }
    &__4{
        bottom: -5%;
        right: -5%;
        width: 15rem;
    }

    &__6 {
        transform: scaleY(-1);
        right: 3%;
        top: 3%;
    }
}
